.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  transform: translateX(-5rem);
  opacity: 0.01;
}

.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 1s ease-in;
}

.fade-exit {
  transform: translateX(0);
  opacity: 1;
}

.fade-exit-active {
  transform: translateX(5rem);
  opacity: 0.01;
  transition: all 1s ease-out;
}

.list-group {
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-group-item {
  /* transform: scale(1); */
  background-color: rgba(255, 255, 255, 0.85);
  transition: all 0.2s ease-out;
}

.list-group-item:hover {
  /* transform: scale(1.01); */
  background-color: #f2f2f2;
  transition: all 0.2s ease-in;
}

.loader {
  width: "100vw";
  height: "100vh";
  background-color: rgba(0, 0, 0, 0.4);
  position: "absolute";
  align-items: "center";
  justify-content: "center";
  z-index: 5;
}

.App {
  height: 100vh;
  background-image: url("https://source.unsplash.com/twukN12EN7c/1600x900");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 2rem;
  object-fit: content;
}

.appNavbar {
  position: fixed;
}
